---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Políticas de Privacidad | Agencia de Desarrollo Web y Software Cancún"
    description="Conoce cómo protegemos tus datos personales y cómo manejamos la información en nuestro sitio web, en cumplimiento con la ley mexicana de protección de datos."
>
    <section class="section">
        <h1>Politicas de Privacidad</h1>

        <p class="text-lg mb-5">
            Bienvenido a <b>CreativoAPP</b>, dedicado a brindar soluciones para
            la Web en el Sureste de México. Valoramos la privacidad y la
            seguridad de tus datos. A continuación, detallamos nuestras
            políticas para garantizar la transparencia y la protección de la
            información personal recopilada.
        </p>

        <h3>1. Información Recopilada:</h3>
        <p class="text-lg mb-5">
            Recopilamos información personal como nombre, dirección de correo
            electrónico y datos de contacto necesarios para proporcionar
            nuestros servicios de desarrollo de software.
        </p>

        <h3>2. Uso de la Información:</h3>
        <p class="text-lg mb-5">
            La información recopilada se utiliza exclusivamente para
            personalizar y mejorar nuestros servicios, así como para mantener
            una comunicación efectiva contigo.
        </p>

        <h3>3. Almacenamiento Seguro:</h3>
        <p class="text-lg mb-5">
            Comprometidos con la seguridad, implementamos medidas para proteger
            tu información contra accesos no autorizados y garantizar su
            confidencialidad.
        </p>

        <h3>4. Compartir Información:</h3>
        <p class="text-lg mb-5">
            No compartimos tu información personal con terceros sin tu
            consentimiento expreso, a menos que sea necesario para cumplir con
            requerimientos legales.
        </p>

        <h3>5. Derechos del Titular:</h3>
        <p class="text-lg mb-5">
            Tienes el derecho de acceder, rectificar, cancelar u oponerte al
            procesamiento de tus datos personales. Para ejercer estos derechos,
            contáctanos.
        </p>

        <h3>6. Cookies y Tecnologías Similares:</h3>
        <p class="text-lg mb-5">
            Utilizamos cookies para mejorar tu experiencia en nuestro sitio.
            Puedes gestionar las preferencias de cookies a través de la
            configuración de tu navegador.
        </p>

        <h3>7. Cambios en las Políticas:</h3>
        <p class="text-lg mb-5">
            Nos reservamos el derecho de actualizar nuestras políticas de
            privacidad. Cualquier cambio será comunicado a través de nuestro
            sitio web.
        </p>

        <p class="text-lg mb-5">
            Al utilizar nuestros servicios, aceptas nuestras políticas de
            privacidad. Estamos comprometidos con proteger tus datos y brindarte
            una experiencia segura y confiable. Si tienes preguntas o
            inquietudes, no dudes en contactarnos.
        </p>

        <p>Última edición: <b>09 de Enero del 2024</b></p>
    </section>
</Layout>
