---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Cotiza tu Proyecto Web o Software | Desarrollo a la Medida en Cancún"
    description="Solicita una cotización personalizada para tu página web, sistema a la medida o campaña digital. Respuesta rápida, asesoría profesional y enfoque en resultados."
>
    <section class="section">
        <h1 class="!mb-2">Cotiza tu proyecto</h1>
        <p class="text-lg">
            Cuéntanos de la forma más detallada posible sobre tu proyecto a
            través del siguiente formulario.
        </p>
        <p class="text-lg mb-10">
            Uno de nuestros expertos evaluará tu solicitud y se pondrá en
            contacto contigo a la brevedad posible.
        </p>
        <div class="lg:flex-1 bg-white p-5 rounded-lg">
            <form action="" autocomplete="off" class="flex flex-col gap-5">
                <div class="flex flex-col lg:flex-row gap-10 lg:mb-5">
                    <fieldset class="lg:w-1/2">
                        <label for="fullname">Nombre de Contacto</label>
                        <input
                            type="text"
                            id="fullname"
                            name="fullname"
                            required
                        />
                    </fieldset>
                    <fieldset class="lg:w-1/2">
                        <label for="email">Correo electrónico</label>
                        <input type="email" id="email" name="email" required />
                    </fieldset>
                </div>
                <div class="flex flex-col lg:flex-row gap-10 lg:mb-5">
                    <fieldset class="lg:w-1/2">
                        <label for="phonenumber">Teléfono</label>
                        <input
                            type="tel"
                            id="phonenumber"
                            name="phonenumber"
                            required
                        />
                    </fieldset>
                    <fieldset class="lg:w-1/2">
                        <label for="company">Empresa / Producto</label>
                        <input
                            type="text"
                            id="company"
                            name="company"
                            required
                        />
                    </fieldset>
                </div>
                <fieldset class="w-full">
                    <label for="message">Detalles del proyecto</label>
                    <textarea id="message" name="message" rows="4" required
                    ></textarea>
                </fieldset>
                <fieldset>
                    <button
                        type="submit"
                        class="!py-4 !px-10 text-lg cursor-pointer w-full lg:w-fit"
                        >Cotizar</button
                    >
                </fieldset>
            </form>
        </div>
        <div class="lg:flex-1 mt-15">
            <h2>Otros medios de contacto</h2>
            <p class="text-lg">
                Puedes también contactarnos para una cotización a través de las
                siguientes opciones
            </p>

            <div class="flex flex-col lg:flex-row gap-5 mt-10">
                <div class="bg-gray-800 p-5 flex-1 rounded-lg text-white">
                    <h5 class="!mt-0 !mb-2 flex items-center gap-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            ><path
                                fill="none"
                                stroke="#155DFC"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M21 7V3h-4m-2 6l5.594-5.594M9.158 5.712l-.402-.906c-.264-.592-.395-.888-.592-1.115a2 2 0 0 0-.928-.603C6.949 3 6.624 3 5.976 3c-.948 0-1.422 0-1.82.182a2.12 2.12 0 0 0-1.061 1.169c-.143.413-.102.838-.02 1.689q1.31 13.575 14.885 14.885c.85.082 1.276.123 1.69-.02a2.12 2.12 0 0 0 1.168-1.06c.182-.399.182-.873.182-1.821c0-.649 0-.973-.088-1.26a2 2 0 0 0-.603-.928c-.227-.197-.523-.328-1.115-.592l-.906-.402c-.642-.285-.962-.428-1.288-.459a2 2 0 0 0-.919.128c-.305.119-.575.343-1.114.793c-.537.447-.805.67-1.133.79a2.16 2.16 0 0 1-.982.101c-.345-.05-.61-.192-1.139-.475c-1.646-.88-2.553-1.787-3.433-3.433c-.283-.53-.424-.794-.475-1.14a2.16 2.16 0 0 1 .1-.98c.12-.329.344-.597.791-1.134c.45-.54.674-.809.793-1.114c.114-.292.158-.607.128-.919c-.031-.325-.174-.646-.459-1.288"
                                color="#155DFC"></path></svg
                        >
                        Llámanos
                    </h5>
                    <a href="tel:+529982235933" class="text-lg"
                        >(998) 223 5933</a
                    >
                </div>
                <div class="bg-gray-800 p-5 flex-1 rounded-lg text-white">
                    <h5 class="!mt-0 !mb-2 flex items-center gap-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 16 16"
                            ><path
                                fill="#155DFC"
                                d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144l-2.494.654l.666-2.433l-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931a6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646c-.182-.065-.315-.099-.445.099c-.133.197-.513.646-.627.775c-.114.133-.232.148-.43.05c-.197-.1-.836-.308-1.592-.985c-.59-.525-.985-1.175-1.103-1.372c-.114-.198-.011-.304.088-.403c.087-.088.197-.232.296-.346c.1-.114.133-.198.198-.33c.065-.134.034-.248-.015-.347c-.05-.099-.445-1.076-.612-1.47c-.16-.389-.323-.335-.445-.34c-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992c.47.205.84.326 1.129.418c.475.152.904.129 1.246.08c.38-.058 1.171-.48 1.338-.943c.164-.464.164-.86.114-.943c-.049-.084-.182-.133-.38-.232"
                            ></path></svg
                        >
                        Whatsapp
                    </h5>
                    <a href="https://wa.me/+529982235933" class="text-lg"
                        >+57 (998) 223 5933</a
                    >
                </div>
                <div class="bg-gray-800 p-5 flex-1 rounded-lg text-white">
                    <h5 class="!mt-0 !mb-2 flex items-center gap-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#155DFC"
                                d="M13 19c0-.34.04-.67.09-1H4V8l8 5l8-5v5.09c.72.12 1.39.37 2 .72V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h9.09c-.05-.33-.09-.66-.09-1m7-13l-8 5l-8-5zm-2.25 16.16l-2.75-3L16.16 18l1.59 1.59L21.34 16l1.16 1.41z"
                            ></path></svg
                        >
                        Escríbenos
                    </h5>
                    <a href="mailto:hola@creativoapp.com" class="text-lg"
                        >hola@creativoapp.com</a
                    >
                </div>
                <div class="bg-gray-800 p-5 flex-1 rounded-lg text-white">
                    <h5 class="!mt-0 !mb-2 flex items-center gap-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            ><g
                                fill="none"
                                stroke="#155DFC"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                ><path
                                    d="M12.56 20.82a.96.96 0 0 1-1.12 0C6.611 17.378 1.486 10.298 6.667 5.182A7.6 7.6 0 0 1 12 3c2 0 3.919.785 5.333 2.181c5.181 5.116.056 12.196-4.773 15.64"
                                ></path><path
                                    d="M12 12a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
                                ></path></g
                            ></svg
                        >
                        Visítanos
                    </h5>
                    <p class="text-lg">Cancún Q.Roo. México.</p>
                </div>
            </div>
        </div>
    </section>
</Layout>
