---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Servicios de Desarrollo Web, Software a la Medida y Posicionamiento Web en Cancún | Creativo APP"
>
    <section class="section">
        <h1 class="h-gradient block lg:!mt-30 !mb-10">
            Servicios Web en Cancun
        </h1>
        <p class="text-xl mx-auto mb-8 leading-8">
            Ofrecemos una gama completa de servicios diseñados para impulsar tu
            presencia digital. Desde el <b class="text-blue-company-500"
                >Diseño y Desarrollo Web</b
            > hasta la creación de <b class="text-blue-company-500"
                >Software a Medida</b
            > y la <b class="text-blue-company-500">Optimización Web</b>,
            estamos comprometidos con proporcionar soluciones personalizadas que
            se adapten a tus necesidades específicas.
        </p>
        <p class="text-xl mx-auto mb-10 lg:mb-20 leading-8">
            En la era digital actual, contar con una página web sólida y
            funcional no es solo una opción, sino una necesidad. Un sitio web
            bien diseñado y optimizado es una de las mejores formas para atraer
            clientes, posicionar tu marca y aumentar tus ingresos.
        </p>
        <div class="flex gap-5 justify-between"></div>

        <h2 class="block mb-10">Servicios mas solicitados</h2>

        <div class="flex flex-col gap-10">
            <article class="p-5 bg-white rounded-md lg:p-10">
                <div
                    class="rounded-md flex flex-col lg:flex-row gap-5 bg-gray-100"
                >
                    <div class="p-5 lg:w-3/5">
                        <h3 class="!text-blue-special !m-0 !mb-2">
                            Diseño y Desarrollo Web
                        </h3>
                        <p class="mb-3 text-black">
                            Diseñamos y desarrollamos sitios web modernos y
                            funcionales adaptados a las tendencias y necesidades
                            actuales.
                        </p>
                        <p class="mb-3 text-black">
                            Hoy en día los sitios web suelen cumplir diferentes
                            objetivos, entre los cuales destacan:
                        </p>
                        <ul
                            class="mb-8 text-black grid grid-cols-1 lg:grid-cols-2"
                        >
                            <li>
                                <b class="!text-blue-special">1.</b> Sitios Web Informativos
                            </li>
                            <li><b class="!text-blue-special">2.</b> Blogs</li>
                            <li>
                                <b class="!text-blue-special">3.</b> E-commerce
                            </li>
                            <li>
                                <b class="!text-blue-special">4.</b> Real Estate
                            </li>
                            <li>
                                <b class="!text-blue-special">5.</b> Soluciones para
                                el sector turístico
                            </li>
                        </ul>
                        <a
                            href="/paginas-web-cancun"
                            title="Diseño de Paginas Web en Cancun"
                            class="primary-cta block w-fit text-lg !py-2 !px-5"
                            >Conocer más</a
                        >
                    </div>
                    <div class="lg:w-2/5">
                        <img
                            src="/src/assets/banner-paginas-web.webp"
                            alt="Diseño y Desarrollo Web"
                            class="w-full h-full object-cover rounded-lg"
                        />
                    </div>
                </div>
            </article>

            <article class="p-5 bg-white rounded-md lg:p-10">
                <div
                    class="rounded-md flex flex-col lg:flex-row gap-5 bg-gray-100"
                >
                    <div class="lg:w-3/5 p-5 !text-blue-special">
                        <h3 class="!text-blue-special !m-0 !mb-2">
                            Desarrollo de Software a la medida
                        </h3>
                        <p class="mb-3">
                            Creamos software completamente personalizado que se
                            ajusta a tus procesos y objetivos para mejorar la
                            eficiencia y capacidad de tu equipo.
                        </p>
                        <!-- <p class="mb-3">Trabajar con software a la medida te va a permitir en todo momento tener el control sobre tus datos y su aprovechamiento.</p> -->
                        <p class="mb-3">
                            Esta necesidad de solución es común encontrarla en:
                        </p>
                        <ul
                            class="mb-8 text-black grid grid-cols-1 lg:grid-cols-2"
                        >
                            <li><b>1.</b> Agencias de Turismo</li>
                            <li><b>2.</b> Restaurantes</li>
                            <li><b>3.</b> Empresas de Construcción</li>
                            <li><b>4.</b> Alquilar de Vehículos</li>
                            <li><b>5.</b> Empresas de Transporte</li>
                        </ul>
                        <a
                            href="/desarrollo-software"
                            title="Desarrollo de Software a la medida"
                            class="primary-cta block w-fit text-lg !py-2 !px-5"
                            >Conocer más</a
                        >
                    </div>
                    <div class="lg:w-2/5">
                        <img
                            src="/src/assets/banner-desarrollo-software.webp"
                            alt="Desarrollo de Software a la medida"
                            class="w-full h-full object-cover rounded-lg"
                        />
                    </div>
                </div>
            </article>

            <article class="p-5 bg-white rounded-md lg:p-10">
                <div
                    class="rounded-md flex flex-col lg:flex-row gap-5 bg-gray-100"
                >
                    <div class="lg:w-3/5 p-5">
                        <h3 class="!text-blue-special !m-0 !mb-2">
                            Posicionamiento SEO & SEM
                        </h3>
                        <p class="mb-3 text-black">
                            Creamos o mejoramos tu visibilidad en buscadores
                            para que tu audiencia objetivo pueda encontrarte.
                        </p>
                        <p class="mb-3 text-black">
                            Entendemos que tu visibilidad debe ser diseñada y
                            abordada de manera estratégica a través del
                            posicionamiento y la publicidad.
                        </p>
                        <p class="mb-3 text-black">
                            Nuestro equipo de Marketing usa diferentes
                            estrategias como:
                        </p>
                        <ul
                            class="mb-8 text-black grid grid-cols-1 lg:grid-cols-2"
                        >
                            <li><b class="!text-blue-special">1.</b> SEO</li>
                            <li><b class="!text-blue-special">2.</b> SEM</li>
                            <li>
                                <b class="!text-blue-special">3.</b> Analitica Web
                            </li>
                            <li>
                                <b class="!text-blue-special">4.</b> Email Marketing
                            </li>
                            <li>
                                <b class="!text-blue-special">5.</b> Redes Sociales
                            </li>
                        </ul>
                        <a
                            href="/posicionamiento-seo-sem"
                            title="SEO, SEM y Analitica Web"
                            class="primary-cta block w-fit text-lg !py-2 !px-5"
                            >Conocer más</a
                        >
                    </div>
                    <div class="lg:w-2/5">
                        <img
                            src="/src/assets/banner-seo-publicidad.webp"
                            alt="SEO, SEM y Analitica Web"
                            class="w-full h-full object-cover rounded-lg"
                        />
                    </div>
                </div>
            </article>
        </div>

        <h3 class="text-center block mb-10 !mt-20">
            Otros servicios que ofrecemos
        </h3>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-5 mb-20">
            <article
                class="bg-blue-company-600 p-5 rounded-md text-white text-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto mb-5 text-blue-company-400"
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    ><path
                        fill="currentColor"
                        d="M184.46 96A36 36 0 0 0 168 28H96a36 36 0 0 0-16.46 68a36 36 0 0 0 1.56 64.76A40 40 0 1 0 140 196v-45.41A36 36 0 1 0 184.46 96M196 64a28 28 0 0 1-28 28h-28V36h28a28 28 0 0 1 28 28m-56 36h5.41a36.4 36.4 0 0 0-5.41 5.41ZM68 64a28 28 0 0 1 28-28h36v56H96a28 28 0 0 1-28-28m64 132a32 32 0 1 1-32-32h32Zm0-40H96a28 28 0 0 1 0-56h36Zm36 0a28 28 0 1 1 28-28a28 28 0 0 1-28 28"
                    ></path></svg
                >
                <h4 class="block !m-0 !mb-2">Diseño UI/UX</h4>
                <p>
                    Diseñamos para ti interfaces que sean agradables y fáciles
                    de usar para que tu producto impacte en tus clientes.
                </p>
            </article>
            <article
                class="bg-blue-company-600 p-5 rounded-md text-white text-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto mb-5 text-blue-company-400"
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    ><path
                        fill="currentColor"
                        d="M216 44H72a12 12 0 0 0-12 12v20H40a12 12 0 0 0-12 12v112a12 12 0 0 0 12 12h144a12 12 0 0 0 12-12v-20h20a12 12 0 0 0 12-12V56a12 12 0 0 0-12-12M40 84h144a4 4 0 0 1 4 4v20H36V88a4 4 0 0 1 4-4m148 116a4 4 0 0 1-4 4H40a4 4 0 0 1-4-4v-84h152Zm32-32a4 4 0 0 1-4 4h-20V88a12 12 0 0 0-12-12H68V56a4 4 0 0 1 4-4h144a4 4 0 0 1 4 4Z"
                    ></path></svg
                >
                <h4 class="block !m-0 !mb-2">Auditoria Web</h4>
                <p>
                    Analizamos, identificamos y optimizamos áreas de mejora en
                    tu sitio web para que funcione de forma más eficiente.
                </p>
            </article>
            <article
                class="bg-blue-company-600 p-5 rounded-md text-white text-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto mb-5 text-blue-company-400"
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    ><path
                        fill="currentColor"
                        d="M216 84a4 4 0 0 1 4 4v32a4 4 0 0 0 8 0V88a12 12 0 0 0-12-12h-86.34l-28.49-28.49A11.93 11.93 0 0 0 92.69 44H40a12 12 0 0 0-12 12v144.61A11.4 11.4 0 0 0 39.38 212h81.18a4 4 0 0 0 0-8H39.38a3.39 3.39 0 0 1-3.38-3.39V84ZM40 52h52.69a4 4 0 0 1 2.82 1.17L118.34 76H36V56a4 4 0 0 1 4-4m195.81 108.41a4 4 0 0 0-3.5-2.79l-32.24-2.49l-12.4-28.72a4 4 0 0 0-7.34 0l-12.4 28.72l-32.24 2.49a4 4 0 0 0-2.24 7.08l24.46 20.19l-7.46 30.11a4 4 0 0 0 5.91 4.41L184 203.18l27.64 16.27a4 4 0 0 0 2 .55a4.05 4.05 0 0 0 2.39-.79a4 4 0 0 0 1.49-4.17l-7.46-30.15l24.46-20.19a4 4 0 0 0 1.29-4.29m-32.76 19.91a4 4 0 0 0-1.33 4.05l5.78 23.36l-21.5-12.64a4 4 0 0 0-4.06 0l-21.44 12.64l5.78-23.36a4 4 0 0 0-1.33-4.05l-18.76-15.48l24.81-1.92a4 4 0 0 0 3.36-2.4L184 138.1l9.68 22.42a4 4 0 0 0 3.36 2.4l24.77 1.92Z"
                    ></path></svg
                >
                <h4 class="block !m-0 !mb-2">Consultoria Digital</h4>
                <p>
                    Ofrecemos asesoramiento estratégico para optimizar tu
                    presencia digital y mejorar la experiencia de tus clientes.
                </p>
            </article>
            <article
                class="bg-blue-company-600 p-5 rounded-md text-white text-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="block mx-auto mb-5 text-blue-company-400"
                    width="48"
                    height="48"
                    viewBox="0 0 256 256"
                    ><path
                        fill="currentColor"
                        d="m210.09 43.19l-130.25-23a12 12 0 0 0-13.91 9.73l-29.75 169a12 12 0 0 0 9.73 13.9l130.26 23a11.6 11.6 0 0 0 2.11.19a12 12 0 0 0 11.79-9.92l29.75-169a12 12 0 0 0-9.73-13.9m1.85 12.51l-29.75 169a4 4 0 0 1-4.63 3.25l-130.26-23a4 4 0 0 1-3.24-4.63l29.75-169a4 4 0 0 1 4.63-3.25l130.26 23a4 4 0 0 1 3.24 4.63m-27.8 19.47a4 4 0 0 1-3.93 3.3a4 4 0 0 1-.7-.06l-83-14.66a4 4 0 1 1 1.39-7.88l83 14.66a4 4 0 0 1 3.24 4.64m-5.54 31.51a4 4 0 0 1-3.94 3.31a3.4 3.4 0 0 1-.7-.07L91 95.27a4 4 0 1 1 1.39-7.88l83 14.66a4 4 0 0 1 3.21 4.63m-47 24.19a4 4 0 0 1-3.94 3.3a4 4 0 0 1-.7-.06l-41.49-7.33a4 4 0 1 1 1.39-7.87l41.49 7.32a4 4 0 0 1 3.21 4.64Z"
                    ></path></svg
                >
                <h4 class="block !m-0 !mb-2">Creación de Contenido</h4>
                <p>
                    Generamos contenido relevante para mejorar la experiencia de
                    tus visitantes y darle valor a tu marca.
                </p>
            </article>
        </div>
    </section>
</Layout>
