---
export interface Props {
    title: string;
    description?: string;
}

const {
    title = "Soluciones de Diseño y Desarrollo Web en Cancún",
    description = "Agencia especializada en SEO y diseño web",
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
