---
import Service from "../components/Service.astro";
---

<div class="p-5 lg:p-8 rounded-lg mt-20 text-center bg-white">
    <h2 class="!text-blue-company-600">Nuestros Servicios</h2>
    <p class="text-center !text-black text-lg mb-15 lg:w-3/4 lg:mx-auto">
        Si aún no tienes presencia en Internet o ya la tienes pero deseas
        exponenciar su alcance, nuestros servicios al ser totalmente
        personalizados para cada cliente y proyecto te van ayudar sin duda a
        alcanzar cada uno de los objetivos de tu proyecto.
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <Service title="Diseño y Desarrollo Web" link="/paginas-web-cancun">
            <p>
                Como <b>Agencia de Desarrollo Web</b> con sede en <b>Cancún</b>,
                entendemos la importancia de una presencia digital que impacte.
                No solo construimos sitios; creamos máquinas de conversión
                diseñadas para atraer al turismo, bienes raíces y a las empresas
                locales.
            </p>
        </Service>
        <Service title="Desarrollo de Software" link="/desarrollo-software">
            <p>
                Escala los resultados y el control de tu empresa con soluciones
                hechas a la medida. En <b>Creativo App</b> realizamos <b
                    >Desarrollo de Software a la Medida</b
                > adaptados a tus procesos y procedimientos para maximizar de manera
                eficiente y clara los resultados que buscas.
            </p>
        </Service>
        <Service
            title="Posicionamiento SEO & SEM"
            link="/posicionamiento-seo-sem"
        >
            <p>
                Un gran Software y Diseño Web no es suficiente para aumentar la
                visibilidad de tu negocio y generar más clientes. Con ayuda de
                nuestro
                <b>Servicio de SEO & SEM</b> diseñaremos campañas eficientes que te
                ayuden a convertir de forma más inteligente.
            </p>
        </Service>
    </div>
</div>
